

<h1>Message Form</h1>
<!-- when you click on the submit button it should send a POST request to 
the url specified by the action attribute -->
<form method="POST" action="/new">
  <div>
    <label for="user">User</label>
    <input type="text" id="user" name="user" placeholder="user name" />
  </div>
  <div>
    <label for="message">Message</label>
    <input type="text" id="message" name="message" placeholder="message" />
  </div>
  <button type="submit">Submit</button>
</form>
